h1{
    background-color: aqua;
    letter-spacing: 30px;
    word-spacing: 20px;
    text-indent: 20px;
}

p{
    text-indent: 60px;
    text-align: center;
    text-decoration: overline;
}

h2{
    text-decoration: underline;
}

h3{
    text-decoration: line-through;
}

p{
    /*writing-mode: sideways-lr;*/
    /*writing-mode: sideways-rl;*/
    writing-mode: horizontal-tb;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /*font-family: 'Times New Roman', Times, serif;*/
}

img{
    /*clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);*/
    /*clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);*/
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);


}

@font-face {
    font-family:"Tritopani.otf" ;
    src: url("fonts/Tritopani.otf");
}

